Proj2Utilities/Data
Proposal/final_proposal.aux
Proposal/final_proposal.log
Proposal/final_proposal.out
Proposal/final_proposal.pdf
Proposal/final_proposal.synctex.gz
Proposal/final_proposal.bbl
Proposal/final_proposal.blg
simulation/gifs/
simulation/vtis/
ProgressReport/progress_report.aux
ProgressReport/progress_report.log
ProgressReport/progress_report.out
ProgressReport/progress_report.pdf
ProgressReport/progress_report.synctex.gz
simulation/palabos-v2.0r0/examples/showCases/multiComponent2d/rayleighTaylor2D
simulation/palabos-v2.0r0/examples/showCases/multiComponent3d/rayleighTaylor3D
simulation/palabos-v2.0r0/examples/showCases/multiComponent2d/tmp/plbWarning.dat
final/.idea
final/data_structure/__pycache__/
final/sklearn_tda/__pycache__/
simulation/point_extraction/.idea/workspace.xml
simulation/point_extraction/f/BlurFilter.class
simulation/point_extraction/f/ExteriorFilter.class
simulation/point_extraction/f/FinalProject.class
simulation/point_extraction/f/ImageFilter.class
simulation/point_extraction/f/Interval.class
simulation/point_extraction/f/Point.class
simulation/point_extraction/p1/BlurFilter.class
simulation/point_extraction/p1/ExteriorFilter.class
simulation/point_extraction/p1/ImageFilter.class
simulation/point_extraction/p1/Interval.class
simulation/point_extraction/p1/Point.class
simulation/point_extraction/p1/ProjectOne.class
simulation/point_extraction/p2/PersistentPoint.class
simulation/point_extraction/p2/ProjectTwo.class
Proj2Utilities/.idea/
Proj2Utilities/Part1/__pycache__/
Proj2Utilities/Part2/__pycache__/
Proj2Utilities/sklearn_tda/__pycache__/
DataBackup/
